@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,100..1000&display=swap");

@import "tailwindcss";

:root {
  --background: #FAFAF8;
  --foreground: #0A0A0A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Google Sans Flex", sans-serif;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


body {
  margin: 0;
  background: #FAFAF8;
  color: #0A0A0A;
  font-family: "Google Sans Flex", sans-serif;
}